<form action="/cadastrarProduto" method="POST" enctype="multipart/form-data">
    <p>Nome do Produto: </p>
    <input type="text" name="nome">
    <p>Valor: </p>
    <input type="number" name="valor">
    <p>Selecione uma imagem: </p>
    <input type="file" name="imagem">
    <button type="submit">Cadastrar</button>
</form>

<div class="container">
    <div class="row">
        {{#each produtos}}
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <img src="../imagens/{{id_produto}}.{{imagem}}" style="height: 200px;" alt="">
                    <p>{{nome}}</p>
                    <p>{{valor}}</p>
                    <a href="/alterarProduto/{{id_produto}}" class="btn btn-warning">Alterar</a>
                    <a href="/removerProduto/{{id_produto}}&{{imagem}}" class="btn btn-danger">Remover</a>
                    <a href="/comprarProduto/{{id_produto}}" class="btn btn-info">Comprar</a>
                </div>

            </div>
        {{/each}}
    </div>
</div>